body,html{
    display:block;
    min-height:60%;
}
.fdb{
display:block;
background-image: url('../friends/home.png');
background-repeat: no-repeat;
background-size:cover;
padding-bottom:3%;
}
.hd1{
display:block;
margin-top:3vh;
margin-left:42%;
margin-right:40%;
font-size: 24px;
color:rgb(255, 251, 0);
}
.fm{
display: flex;
margin-left:85%;
padding:14px;
}
.fa-solid{
margin-left:20%;
color:azure;
width:25px;
}
.di{
display:block;
content: " ";
border:3px solid rgb(27, 31, 31);
width:20%;
border-radius:20px;
position:absolute;
background: rgba(233, 225, 225, 0.3);
}
.di button{
min-width:80%;
padding:1px;
margin-top: 15px;
color:green;
font-size: 24px;
border-radius:20px;
background-color:transparent;
border:none;
}
.di2{
margin-top:45px;
margin-left: 22%;
background:rgba(233, 225, 225, 0.3);
border-radius:20px;
min-height: 110vh;
border :4px solid rgb(27, 31, 31);
}
.di2 h3{
margin-left:10px;
margin-right:10px;
margin-top: 15px;
border-radius:20px;
text-align: right;
padding: 20px;
background-color:rgb(172, 23, 110);
}
.di2 input{
margin-top: 50%;
padding: 20px;
width:90%;
border-radius:20px;
}
.di2 .fa-solid{
margin-left:90%;
font-size: 25px;
background-color: black;
padding:5px;
}
input{
    background-color: burlywood;
}
img{
    width:165px;
    border-radius:20px;
}
.bsend{
    padding:10px;
    border-radius:20px;
    background-color: greenyellow;
}
.intext::placeholder{
    color:rgb(3, 56, 134);
}
.intext{
    border:none;
}
